:root {
	font-size: 16pt;
}

[font] {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 0.25em 0.5em;
	margin: 0 0.25em;
	user-select: none;
	white-space: normal;
	font-size: 1rem;
}

[font~="left"]{ text-align: left; }
[font~="center"] { text-align: center; }
[font][flex~="dynamic"] { overflow: hidden; text-overflow: ellipsis; }

/** -Button */
[button][font] { color:#bbbbbb }
[button] > [font] { color:#bbbbbb }
[button]:hover { background-color: #191919; }
[button]:hover[font] { color:#ffffff }
[button]:hover > :not([button])[font] { color:#ffffff }