#Menu {
	background-color: #333333;
}

#Banner {
	background-color: #222222;
}

#Content {
	margin: 0.25em;
	background-color: #333333;
}

.Tab {
	background-color: #333333;
	margin: 0.25em;
}

.TabClose {
	transform: rotate(45deg);
	font-size: 1.25rem;
	margin: 0;
	padding: 0;
	transform-origin: 50% 50%;
	background-color: transparent;
}
.TabClose:hover { background-color: transparent; }