#Menu {
	background-color: #333333;
}

#Banner {
	background-color: #222222;
	height: 2.15rem;
}

#Page:not(:empty) {
	margin: 0.25em;
	background-color: #333333;
}

.MenuOption {
	width: 8em;
}

.MenuOptionList {
	width: 8em;
	background-color: #444444;
	display: none;
}

.MenuOption:hover .MenuOptionList { display: inherit }
.MenuOptionList > :hover { background-color: #333333 }

.Tab {
	background-color: #333333;
	margin: 0.25em;
	width: 8rem;
}

.TabClose {
	transform: rotate(45deg);
	font-size: 1.25rem;
	margin: 0;
	padding: 0;
	transform-origin: 50% 50%;
	background-color: transparent;
}
.TabClose:hover { background-color: transparent; }