<div flex="row column" class="FullContainer" id="Page">
	<div flex="static row" id="Menu">
		<div button font="center">Equipment</div>
		<div button font="center">Classes</div>
		<div button font="center">Mechanics</div>
		<div button font="center">Other</div>
	</div>
	<div flex="static row" id="Banner">
		<div flex="static row" button class="Tab">
			<div flex="static" font="center">Character</div>
			<div flex="static" button font="center" class="TabClose">+</div>
		</div>
	</div>
	<div flex="dynamic row" style="background-color: #111111;">
		<div flex="dynamic row" id="Content"></div>
	</div>
</div>